langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-text-splitters==0.2.4
langchain-openai==0.1.25

langsmith==0.1.147

faiss-cpu>=1.7.0

ragas==0.1.21
datasets>=2.0.0
numpy==1.26.4
pandas

python-dotenv>=1.0.0
openai>=1.0.0
tiktoken>=0.5.0

guardrails-ai